body{
    background-image: url("images/backgroundimage.png");
    background-repeat: no-repeat; 
    background-attachment: fixed;
     background-position: top;
     font-family: 'Open Sans', sans-serif;
}

*{
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
}