body{
    background-image: url("images/backgroundimage.png");
    background-repeat: no-repeat; 
    background-attachment: fixed;
     background-position: top;
     font-family: 'Open Sans', sans-serif;
     
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px; 
}

#menu{
    
    width: 35px; 
    height: 30px; 
    margin: 30px 0 20px 20px;
    cursor: pointer; 
}

.bar{
    height: 5px; 
    width: 100%; 
    background-color: orange; 
    display: block; 
    border-radius: 5px;
    transition: 0.3s ease; 
}

#bar1{
    transform: translateY(-4px);


}



#bar3{
    transform:translateY(4px);
}

.change .bar{
    background-color: white; 
}

.change #bar1{
    transform: translateY(4px) rotateZ(-45deg); 
}

.change #bar3{
    transform:translateY(-6px) rotateZ(45deg);
}

.change #bar2 {
    opacity: 0; 
}

ul{
    list-style: none;
    
}

.nav li a{
  color: white; 
  text-decoration: none; 
  font-family: 'Open Sans', sans-serif; 
}

.nav li{
    list-style: none; 
    padding: 16px 0; 
}

.nav{
    padding: 0; 
    margin: 0 20px; 
    transition: 0.3s ease; 
    display: none; 
}

.nav li a:hover{
    font-weight: bold;
    color: black; 
}

.change{
    display: block; 
    
}

.menu-bg{
    width: 0; 
    height: 0; 
    background-color: orange; 
    transition: 0.3s ease; 
    z-index: 1;
    border-radius: 50%; 
}

.change-bg{
    width: 550px; 
    height: 540px; 
    transform: translate(-60%, -20%); 

}

.menu-bg, #menu-bar{
    top: 0; 
    left: 0; 
    position: absolute;
}

#menu-bar{
    z-index: 2; 
}
/* Title Text for the Homepage */ 




.title-text{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    font-family: 'Alex Brush', cursive;    
    color: white; 
    font-size: 15rem;
    text-shadow: 2px 2px black; 
}

/* creating and positioning the btn-discover */ 

.btn-discover{
    position: absolute; 
    left: 650px; 
    bottom: 225px;
    width: 10%;
    height: 50px; 
    border-radius: 20px; 
    cursor: pointer; 
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem; 
    transition: all ease-out; 
    color: white; 
    background-color: black; 
    border: 2px black; 
    text-align: center;
    
}

.btn-discover:hover{
    background-color: orange;
    transition: 0.5s;
}




@media screen and (max-width:500px){

    .btn-discover{
       position: relative; 
       left: 300px;
       width: 30%;

    }

}