
body{
        background-image: url('images/montjuic_palace.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
        position: relative;
        font-family: 'Playfair Display', serif;

    }  
  
#booking{

    background-color: white;
    text-align:justify;
    font-size: 60px;
    padding: 25px;
    font-family: 'Playfair Display', serif;
    line-height: 50px;
    text-shadow:1px 1px 3px #323332d3;
    border-left-width: 60px;
    display: flex;
    padding-left: 110px;
    flex-wrap: wrap;
    

}

.wrapper{
    width:70%;
  }
    @media(max-width:992px){
   .wrapper{
    width:100%;
  }

  }

  div.panel, div.panel-heading, div.panel-title{
    background-color: rgb(255 255 255 / .1)!important;
  }

  div#myCalendar {
    background-color: rgb(255 255 255 / .7);
}

  .panel-heading {
    padding: 0;
      border:0;
  }
  .panel-title>a, .panel-title>a:active{
      display:block;
      padding:15px;
    color: black;
    font-size:16px;
    font-weight:bold;
      text-transform:uppercase;
      letter-spacing:1px;
    word-spacing:3px;
      text-decoration:none;
  }
  .panel-heading  a:before {
     font-family: 'Glyphicons Halflings';
     content: "\e114";
     float: right;
     transition: all 0.5s;
  }
  .panel-heading.active a:before {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      transform: rotate(180deg);
  }

  .button-day {
    padding: 5px;
    background: rgba(255, 255, 255, .4);
    border-radius: 15px;
    border: 0.5px solid;
  }

  .icon-selected {
    color: darkgoldenrod;
    background: rgba(144, 157, 170, 0.4)!important;
    border-radius: 15px;
    border: 0.5px solid;
}

form  {
  margin: 60px 0 0 0 !important;
}

.ui-slider .ui-btn-inner {
  padding: 4px 0 0 0 !important;
}

.ui-slider-popup {
  position: absolute !important;
  width: 64px;
  height: 64px;
  text-align: center;
  font-size: 36px;
  padding-top: 14px;
  z-index: 100;
  opacity: 0.8;
}

input[type=range] {
  width: 50% !important;
  font-family: 'Playfair Display', serif;
}

#range-number{
  font-weight: bold;
}

.footer{
  background-color: rgb(232, 236, 236, .8);
  color: black;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 18%;
}

.footer svg {
  margin: 1rem;
}

.footer ul {
  list-style: none;
  margin: 5%;
}

.footer li {
  margin: 1rem;
}

.footer input, .footer textarea {
  display: block;
  border: 0px;
  border-radius: 5px;
  margin: 3px;
}

.footer form {
  margin: 1%!important;
}

#social-media{
  text-align: center;
  padding: 2rem;
  font-size: 30px;
  text-decoration: none;

  justify-content: center;
}

#links {
  text-align: left;
}
#contact {
  text-align: center;
}

#contact form {
  padding-left: 20%;
}

#contact div{
  text-align: center;
}
.titlefollow {
  font-size: 60%;
  margin-top: 0%;
    margin-bottom: 2%;
}

.col-sm-4  {
   position: inherit;
    right: 3%;
   }
   
   .contact {
    font-size: 128%;
    position: relative;
    margin-top: 5%;
    left: 3%;
}

.row {
  display: flex;
  flex-wrap: inherit;
}
   
.col-xs-12 {position: relative;
    left: 5%;
}
.inputsuscribe {
  position: fixed;
    left: 79%;
    margin-top: 6px;
    height: 4%;
    border-radius: 30px;
}

.logofooter {
    margin-top: 7%;
    position: relative;
    right: 16%;
    font-family: 'Alex Brush', cursive;
    font-size: 6rem;
    text-shadow:1px 1px 3px #323332d3;
} */

/* responsive */

@media screen and (max-width: 600px) {
  div.booking {
    font-size: 30px;
  }

}


/* Hamburger Menu set up */ 
#menu{
    
  width: 35px; 
  height: 30px; 
  margin: 30px 0 20px 20px;
  cursor: pointer; 
}

.bar{
  height: 5px; 
  width: 100%; 
  background-color: orange; 
  display: block; 
  border-radius: 5px;
  transition: 0.3s ease; 
}

#bar1{
  transform: translateY(-4px);

}



#bar3{
  transform:translateY(4px);
}

.change .bar{
  background-color: white; 
}

.change #bar1{
  transform: translateY(4px) rotateZ(-45deg); 
}

.change #bar3{
  transform:translateY(-6px) rotateZ(45deg);
}

.change #bar2 {
  opacity: 0; 
}

ul{
  list-style: none;
  
}

.nav li a{
color: white; 
text-decoration: none; 
font-family: 'Open Sans', sans-serif; 
}

.nav li{
  list-style: none; 
  padding: 16px 0; 
}

.nav{
  padding: 0; 
  margin: 0 20px; 
  transition: 0.3s ease; 
  display: none; 
}

.nav li a:hover{
  font-weight: bold;
  color: black; 
}

.change{
  display: block; 
  
}

.menu-bg{
  width: 0; 
  height: 0; 
  background-color: orange; 
  transition: 0.3s ease; 
  z-index: 1;
  border-radius: 50%; 
}

.change-bg{
  width: 550px; 
  height: 540px; 
  transform: translate(-60%, -20%); 

}

.menu-bg, #menu-bar{
  top: 0; 
  left: 0; 
  position: absolute;
}

#menu-bar{
  z-index: 5; 
}
